<div class="container">
    <p>{{title}}</p>
    <p>Add a new proposal below.</p>
    <form action="" method="post" id="add-form">
        <label for="title">Title:</label><br />
        <input type="text" id="title" name="title" placeholder="Enter Title of proposed talk." /><br />
        <label for="summary">Summary:</label><br />
        <textarea id="summary" name="summary"></textarea><br />
        <input type="submit" value="Add Proposal" />
    </form>
</div>
