<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="" name="description">
  <title>{{title}}</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  <link href="images/favicon.png" rel="icon">
</head>

<body>

  <div class='container'>
    <header class='page-header'>
      <h1>{{title}}</h1>
    </header>
  </div>


  {{{body}}}


  <footer class='navbar-fixed-bottom'>
    <div class='container'>
      <p>This is the footer.</p>
      <p>Project last update on {{lastUpdated}}.</p>
    </div>
  </footer>

</body>

</html>
