
<div class="container">
    <div class="row">
        <div class="col col-md-8">

            <h2>Talk Proposals</h2>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">{{proposal.title}}</h3>
                </div>
                <div class="panel-body">
                    {{proposal.summary}}
                </div>
                <div class="panel-footer">
                    <a class="btn btn-default delete-proposal" href="#" role="button" data-title="{{proposal.title}}">Delete</a>
                    <a class="btn btn-default" href="#" role="button">Edit</a>
                </div>
            </div>
        </div>


        <div class="col col-md-4">
            <h2>About</h2>
            <p>The Skill-Sharing website is a project at the end of the <a href="http://eloquentjavascript.net/21_skillsharing.html">Eloquent Javascript</a> book.</p>
            <p>This page implements all the required features of the website, but uses the <a href="https://expressjs.com/">Express framework</a> and various other Node tools, rather than the custom code provided in the book.</p>
            <p>Feature description:</p>
            <ul>
                <li>Holds a list of Talk proposals along with Comments associated with each proposal.</li>
                <li>Allows user to add, update and delete proposals and comments.</li>
                <li>Updates pages in real-time<sup>*</sup> whenever any data is updated (using <a href="https://en.wikipedia.org/wiki/Push_technology#Long_polling">long polling</a>).</li>
            </ul>
            <sup>*</sup> open pages side by side to see this in action.
        </div>

    </div>



</div>
