<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="" name="description">
  <title>{{title}}</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  <!--<link href="images/favicon.png" rel="icon"> -->
</head>

<body>

  <header>
    <div class='container'>
      <nav>
        <ul>
          <li><a href='//treerock.me/'>home</a></li>
          <li><a href='//github.com/BruceHad/tr-skill-sharing/'>github</a></li>
        </ul>
      </nav>
      <h1><a href="/">{{ title }}</a></h1>
    </div>
  </header>


  {{{body}}}


  <footer class='navbar-fixed-bottom'>
    <div class='container'>
      <p>a <a href='//treerock.me/'>treerock</a> build || <i>{{ lastUpdated }}</i></p>
    </div>
  </footer>

</body>
<script src="/javascripts/script.js"></script>

</html>
